/*definição de fonte */
@font-face {
    font-family: "unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf")format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* reset */
* {
   margin: 0;
   padding: 0;
}
 /* estilo desktop */ 

body{
    background-color: #0E1014;
    color:#FFFFFF;
}
header img{
    display: block;
    margin: 75px auto 0;
}

h1{
    font-family:"unbounded", sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
} 
h1  span{
    color: #9747FF;

}

p{
    font-family: poppins, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}
a{
    color: #FFFFFF;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;

    /*margin-top: 100px;
    margin-right: 790px;
    margin-bottom: 10px
    margin-left: 790px;*/
        
}
a:hover{
    background-color: #8233E8;
    
}
    /*h1, p, a {

    HEXADECIMAL #5656
    NOMEADA: RED;
    RGB(29292)
    
    color: #FFFFFF;
 }
 .cor-branca{
    color: white;
 }
 class="cor-branca"{
    color: white;
    para elementos que possuem mesma caracteristica
 }   
 */
 section img {
  display: block;        /* deixa de ser inline */
  margin: 40px auto 0;   /* centraliza horizontalmente */
  max-width: 100%;       /* fluido */
  height: auto;  
 }
@media(max-width: 768px){
    
     header img{
        margin: 65px auto 0;
    }
    p{
        width: 648px;
    }

}

@media (max-width: 375px) {
     header img {
        margin: 32px auto 0;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        width: 340px;
    }
    a {
    font-size: 20px;
    width: 251px;
    }
    section img {
        width: 340px;
        height: 230px;
    }
}
